* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  color: #333333;
  margin-bottom: 20px;
  font-size: 24px;
}

form {
  width: 100%;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}

.form-table td {
  padding: 10px;
}

label {
  font-size: 16px;
  color: #333333;
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="file"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.submit-button {
    background-color: #333;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 20px auto; /* Buat tombol berada di tengah */
    transition: background-color 0.3s ease, transform 0.2s;
}

.submit-button:hover {
    background-color: #555;
    transform: scale(1.05); /* Sedikit efek zoom */
}
